<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="h-screen container">
    <div id="messages" style="height: 200px;overflow: scroll">

    </div>
    <input type="text" name="type" id="type">
    <button id="sendmessage">Send</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/chat/')
    socket.addEventListener('open', function (event) {
        socket.send(JSON.stringify("hello"));
    });
    socket.addEventListener('message', function (event) {
        var tag = document.createElement("p"); // <p></p>
        var text = document.createTextNode(JSON.parse(event.data)['message']);
        tag.appendChild(text);
        let data = document.getElementById("messages")
        data.append(tag)
        {#console.log('Message from server ', event.data);#}
    });
    document.getElementById("sendmessage").onclick = function (event) {
        console.log('click')
        socket.send(JSON.stringify(document.getElementById("type").value));
    }

</script>
</body>
</html>